<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache" /> <!-- to keep alway page update -->
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate" /> <!-- to keep alway page update -->
    <meta http-equiv="Expires" content="0" /><!-- to keep alway page update -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes"> <!-- to suport properly all mobil-->
    <title>Board Game Online</title>
    <link rel="stylesheet" href="cssfiles/index.css">
    <link rel="stylesheet" href="cssfiles/game.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,300,500,700,900" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
</head>

<body style="margin: 0px; font-family: sans-serif;">

    <div class="main-center">
        <div style="max-width: 1400px;">
            <div class="logo-name">
                <div style="position: absolute;">
                    <a href="/" style="margin-left: 10px;">
                        <img src="imgfiles/home.png" style="width: 40px;">
                    </a>
                </div>
                <div class="conteurlogonametitle">
                    <h1 id="logonametitle">
                        Board Game online
                    </h1>
                </div>
                <div>
                    <button id="BTNreturnToRoomLobby">
                        <img src="imgfiles/goBack.png" style="width: 40px;">
                    </button>
                </div>
            </div>
            <div class="centercontainer">
                <div class="chatpart">
                    <div class="chat">
                        <div class="classContener">
                            <p style="margin: 0px; padding-top: 5px; display: flex; justify-content: center; font-family: Arial, Helvetica, sans-serif; font-weight: bold;">ROOM CHAT !</p>
                            <div class="separationbarreO"></div>
                            <div id="parentzonechat" style="height: 400px;">
                                <section id="zone_chat">
                                </section>
                            </div>
                        </div>
                        <form action="/" method="post" id="formulaire_chat">
                            <input type="text" class="senderMess" name="message" id="message" placeholder="your message..." size="50" maxlength="400" autocomplete="off" style="margin-left: 0px;" />
                        </form>
                    </div>
                </div>

                <div class="separationbarreV"></div>

                <div class="gamePart" style="font-family: Roboto; font-weight: bold; margin: 10 10 0 10;">
                    <canvas width="400px" height="400px" id="canvas"></canvas>
                    <div id="infoGame">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        //script qui récupère tout les éléments de ejs du serveur
        url = "<%= url %>";
        pseudo = "<%= pseudo %>";
        colorpseudo = "<%= colorpseudo %>";
        roomcode = "<%= roomcode %>";
        LB = "<%= LB %>";
        
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="jsfiles/gameChat.js"></script>
    <script src="jsfiles/power4.js"></script>
    <script>
        //btn Uturn to go back at room lobby
        $('#BTNreturnToRoomLobby').click(function() {
            document.location.href = "/pr" + "?" + "room=" + roomcode + "&" + "ps=" + pseudo + "&" + "co=" + colorpseudo;
        });
    </script>
</body>

</html>